.header{
    background-color: rgb(110, 190, 78);
    border: rgb(0, 0, 0) 5px double;
height: 100px;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    height: 100%;
    margin: auto;

}
.header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar{
    display: flex;
    list-style: none;
    width: 25%; 
    justify-content: space-between;
}
.header h1{
    color: rgb(117, 24, 24);
}
.navbar li{
    color:rgb(117, 24, 24);
    font-weight: lighter;
}
.navbar .active{
    font-weight: bolder; 
}
.navbar li a{
    text-decoration: none;
    color:rgb(117, 24, 24);
}
.banner{

    height: 400px;
    background-image:url(https://s2.best-wallpaper.net/wallpaper/2880x1800/1809/Coffee-beans-cup-coffee-books_2880x1800.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.mensagem{
    color: blanchedalmond;
    font-size: 30px;
  width: 18%;
  margin-right: 200px;
}
.bol{
    font:bolder;
}.proposito{
    height: 450px;
background-color: whitesmoke;
}
.proposito .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proposito .container .mvv div img{
    height: 100px;
    width: 100px;
}
.proposito .container .mvv{
    display: flex;
    justify-content: space-between;
width: 100%;
    margin-top: 60px;
}
.proposito .container .mvv div{
display: flex;
width: 20vw;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.proposito .container h2{
    color:rgb(117, 24, 24) ;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}
.proposito .container h3{
    color: rgb(117, 24, 24);
    font-weight: bolder;
    margin: 25px 0;
}
.footer{
    background-color:rgb(110, 190, 78) ;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.banner .form_login{
    background-color: whitesmoke;
    height:350px ;
    width: 30%;
    display:flex;
   flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.banner .form_login div{
    display: flex;
    flex-direction: column;
    
} 
.banner .form_login h2{
    color:rgb(117, 24, 24);

}
.banner .form_login div span{
    color: rgb(117, 24, 24);

}
.banner .form_login div input{
    border: 2px rgb(117, 24, 24) solid;
    border-radius: 10px;
    padding: 10px;
}
.banner .form_login button{
    background-color: rgb(117, 24, 24);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
